<!-- TODO: change -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {% for item in site.pages %}
        <li>
          <a {% if item.url == page.url %}class="active"{% endif %} href="{% if item.permalink %}{{ item.permalink }}{% else %}{{ item.url }}{% endif %}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
